.vscode
.idea
*node_modules*
*package-lock.json*
*bin
system-design.md
plan.md
dist
*.tsbuildinfo
generated
.env
.env.*
!.env.example
docs/


# Ignore Prisma generated client
packages/database/node_modules/.prisma
packages/database/prisma/client

docs/changes/*